<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
{# Jinja Flask 내장 Template 엔진 #}
<body>
  {% if title %}
    <p>{{ title }}</p>
  {% endif %}

  {% if title %}
    <a href="/first">{{ title }}</a>
  {% endif &}

  {% if title %}
  <a href="/second">{{ title }}</a>
  {% endif %}
</body>

</html>